<h2>Filiais:</h2>
<%= link_to 'Voltar', root_path %>
<p></p>
<% if @subsidiaries.empty? %>
  <h3><%= 'Nenhuma filial foi cadastrada' %></h3>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <div>
    <%= link_to subsidiary.name, subsidiary_path(id: subsidiary.id) %>
    </div>
  <% end %>
<% end %>