<dl>
<dt>Nome:</dt>
<dd><%= @subsidiary.name %></dd>
<dt>CNPJ</dt>
<dd><%= @subsidiary.cnpj %></dd>
<dt>Endereço</dt>
<dd><%= @subsidiary.address %></dd> 
</dl>
<p></p>
<%= link_to 'Voltar', subsidiaries_path %>