<header>
  <h1>Rental Cars</h1>
  <h3> Bem vindo ao sistema de gestão de locação </h3>
</header>
<div>
<a href="<%= car_categories_path %>">Categorias</a>
</div>
<%= link_to 'Filiais', subsidiaries_path %>