<header>
  <h1>Rental Cars</h1>
  <h3> Bem vindo ao sistema de gestão de locação </h3>
</header>
<div>
<%= link_to 'Categorias', car_categories_path %>
</div>
<%= link_to 'Filiais', subsidiaries_path %>
<div>
<%= link_to 'Modelos de carro', car_models_path %>
</div>